
h1 {
    text-align: center;
}

.navbar-brand {
    margin-left: 50px;
}

.pic {
    display: block;
    margin: auto;
}

.card {
    vertical-align: bottom;
    width: 350px;
    margin: 15px;
    margin-left: 50px;
}

.card-body {
    text-align: center;
}

.classlist {
    margin: 50px;
}

.login {
    width: 300px;
    margin: auto;
    margin-top: 100px;
}

.reg {
    width: 600px;
    margin: auto;
    margin-top: 100px;
}

.deauth {
    margin-left: 10px;
    margin-right: 10px;
}

.select_class {
    margin: auto;
    width: 200px;
    margin-top: 50px;
}

.error {
    text-align: center;
    margin-top: 100px;
}

#back {
    margin: auto;
    align-content: center;
    display: grid;
    width: 150px;
}

.alert {
    margin: auto;
    margin-top: 10px;
    width: fit-content;
}
.num{
    width: 5px;

}
.FIO{
    width: fit-content;
}